<div class="hero">
  <h1>Bienvenido a la Gestión de Empleados</h1>
  <p>Administración de tu equipo de manera eficiente.</p>
  <button (click)="goTo('/empleados')" class="btn">Administración de Empleados</button>
  <button (click)="goTo('/empleados/nuevo')" class="btn">Agregar Empleado</button>
</div>

<div class="info">
  <h2>Angular FrontEnd</h2>
  <p>Aplicación lite para ver, editar, eliminar y agregar empleados.</p>
  <p>Conecta al Backend creada en Flask-Restx, con base de datos en SQLite3.</p>
</div>