<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Departamento</th>
      <th>Cargo</th>
      <th>Fecha de Contratación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ obtenerNombreDepartamento(empleado.departamento_id) }}</td>
      <td>{{ empleado.nombre_cargo }}</td>
      <td>{{ empleado.fecha_contratacion | date: 'shortDate' }}</td>
      <td>
        <div class="button-group">
          <button class="btn-edit" [routerLink]="['/empleados/editar', empleado.id]">Editar</button>
          <button (click)="eliminarEmpleado(empleado.id)" class="btn-delete">Eliminar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>