<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Departamento</th>
      <th>Cargo</th>
      <th>Fecha de Contratación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.first_name }}</td>
      <td>{{ empleado.last_name }}</td>
      <td>{{ empleado.department?.name || 'Desconocido' }}</td>
      <td>{{ empleado.job_title }}</td>
      <td>{{ empleado.hire_date | date: 'shortDate' }}</td>
      <td>
        <button class="btn-edit" [routerLink]="['/empleados/editar', empleado.id]">Editar</button>
        <button class="btn-delete" (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>